<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">


<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Forgot Password</title>
<style>
   
    .container {
        max-width: 400px;
        margin: 50px auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .input-group {
        margin-bottom: 15px;
    }
    .input-group input {
        width: 90%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%; /* Make button full width */
    }
    .dash {
        color:#007bff;
        margin-right: 280px;
    }
    .dash:hover{
        color:red;
        text-decoration: none;
    }

    /* Media Queries for responsiveness */
    @media (max-width: 600px) {
        .container {
            max-width: 300px;
        }
        .dash {
            margin-right: 10px; /* Adjust margin for smaller screens */
        }
    }
</style>
</head>
<body>
    <form action="forgot"  method="post">
        <div class="container">
            <a class="dash" style="font-size:15px; text-decoration: none;" href="login">&#x1F878;</a>
            <h2>Enter Phone Number</h2>
            <div class="input-group">
                <input type="tel" name="phone" id="phone" placeholder="Enter your phone number">
            </div>
  
            <button class="btn" type="submit">Send OTP</button>
        </div>
    </form>
</body>
</html>
