<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://rawcdn.githack.com/SochavaAG/example-mycode/master/_common/css/reset.css">
  <link rel="stylesheet" href="/stylesheets/boxstyle.css">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
  <meta name="description" content="">
  <meta name="author" content="TemplateMo">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

  <title>Education Meeting HTML5 Template</title>

  <!-- Bootstrap core CSS -->
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="/stylesheets/fontawesome.css">
  <link rel="stylesheet" href="/stylesheets/templatemo-edu-meeting.css">
  <link rel="stylesheet" href="/stylesheets/owl.css">
  <link rel="stylesheet" href="/stylesheets/lightbox.css">
  <!--

TemplateMo 569 Edu Meeting

https://templatemo.com/tm-569-edu-meeting

-->
</head>

<body>
  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="/" class="logo">
              Bamboo
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="index" class="move">Home</a></li>
              <li class="scroll-to-section"><a href="#down">Contact Us</a></li>
            </ul>
            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video">
      <source src="/images/course-video.mp4" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="caption">
              <h6>Hello Everyone</h6>
              <h2>Welcome to Bamboo</h2>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <section class="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-service-item owl-carousel">


              <div class="col-md-12">
                <div class="item">

                  <div class="icon">
                    <img src="/images/service-icon-01.png" alt="">
                  </div>
                  <div class="down-content">
                    <h4>Prerana</h4>
                    <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="item">
                  <div class="icon">
                    <img src="/images/service-icon-02.png" alt="">
                  </div>
                  <div class="down-content">
                    <h4>Ellipsonic</h4>
                    <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p>
                  </div>

                </div>
              </div>

              <div class="col-md-12">
                <div class="item">
                  <div class="icon">

                    <img src="/images/service-icon-03.png" alt="">
                  </div>
                  <div class="down-content">
                    <h4>Startup</h4>
                    <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
              <div>
                <a href="login">
                  <div class="item">
                    <div class="icon">

                      <img src="/images/service-icon-01.png" alt="">
                    </div>
                    <div class="down-content">

                      <h4>Admin</h4>
                      <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.
                      </p>

                    </div>
                  </div>
                </a>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="contact-us" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 align-self-center">
          <div class="row">
            <div id="down" class="col-lg-12">
              <form id="contact" action="" method="post">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>Let's get in touch</h2>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                      <input name="name" type="text" id="name" placeholder="YOURNAME...*" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                      <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="YOUR EMAIL..."
                        required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                      <input name="subject" type="text" id="subject" placeholder="SUBJECT...*" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" type="text" class="form-control" id="message"
                        placeholder="YOUR MESSAGE..." required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="button">SEND MESSAGE NOW</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div><br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="col-lg-3">
          <div class="right-info">
            <ul>
              <li>
                <h6>Phone Number</h6>
                <span>010-020-0340</span>
              </li>
              <li>
                <h6>Email Address</h6>
                <span>info@meeting.edu</span>
              </li>
              <li>
                <h6>Street Address</h6>
                <span>Rio de Janeiro - RJ, 22795-008, Brazil</span>
              </li>
              <li>
                <h6>Website URL</h6>
                <span>www.meeting.edu</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>Copyright © 2024 Bamboo. All Rights Reserved.
        <!-- <br>Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a></p> -->
    </div>
  </section>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="/jquery/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>

  <script src="/javascripts/isotope.min.js"></script>
  <script src="/javascripts/owl-carousel.js"></script>
  <script src="/javascripts/lightbox.js"></script>
  <script src="/javascripts/tabs.js"></script>
  <script src="/javascripts/video.js"></script>
  <script src="/javascripts/slick-slider.js"></script>
  <script src="/javascripts/custom.js"></script>
  
  <script>
    // //according to loftblog tut
    // $('.nav li:first').addClass('active');

    // var showSection = function showSection(section, isAnimate) {
    //   var
    //     direction = section.replace(/#/, ''),
    //     reqSection = $('.section').filter('[data-section="' + direction + '"]'),
    //     reqSectionPos = reqSection.offset().top - 0;

    //   if (isAnimate) {
    //     $('body, html').animate({
    //       scrollTop: reqSectionPos
    //     },
    //       800);
    //   } else {
    //     $('body, html').scrollTop(reqSectionPos);
    //   }

    // };

    // var checkSection = function checkSection() {
    //   $('.section').each(function () {
    //     var
    //       $this = $(this),
    //       topEdge = $this.offset().top - 80,
    //       bottomEdge = topEdge + $this.height(),
    //       wScroll = $(window).scrollTop();
    //     if (topEdge < wScroll && bottomEdge > wScroll) {
    //       var
    //         currentId = $this.data('section'),
    //         reqLink = $('a').filter('[href*=\\#' + currentId + ']');
    //       reqLink.closest('li').addClass('active').
    //         siblings().removeClass('active');
    //     }
    //   });
    // };

    // $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
    //   e.preventDefault();
    //   showSection($(this).attr('href'), true);
    // });

    // $(window).scroll(function () {
    //   checkSection();
    // });


   function preventBack(){
        window.history.forward();
    }
    setTimeout("preventBack()",0);

    window.onunload=function(){null};
  

</script>
</body>



</html>