<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/boxstyle.css">
    <link rel="stylesheet" href="/stylesheets/pfp.css">
    <link rel="stylesheet" href="/stylesheets/templatemo-edu-meeting.css">

    <style>
      a{
        text-decoration: none;
      }
    </style>
</head>
<body class="stp">
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/" class="logo">
                        Bamboo
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav" style="text-decoration:none;">
                      <li class="scroll-to-section"><a href="/preranaadmindash" class="move">Prerana</a></li>
                        <li class="scroll-to-section"><a href="ellipsonicadmindash" class="move">Ellipsonic</a></li> 
                        <li class="scroll-to-section"><a href="startupuser" class="move">Startup</a></li>
                        <li class="scroll-to-section"><a href="#us" class="move">Team</a></li> 

                    </ul>        
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
    <div>

        <div id="lotte" class="ag-courses_box">
    <div class="card-container">
        <a href="" class="hero-image-container">
          <img class="hero-image" src="/images/maheshsir.jpeg" alt="Spinning glass cube"/>
        </a>
        <main class="main-content">
          <h1><a>Mahesh Premchandra </a></h1>
          <p>team lead 1.</p>
          
        </main>
  </div>
  <div class="card-container">
    <a href="" class="hero-image-container">
      <img class="hero-image" src="/images/varunsir.jpeg" alt="Spinning glass cube"/>
    </a>
    <main class="main-content">
      <h1><a>Varun V L</a></h1>
      <p>team lead 2</p>
      
    </main>
</div>
</div>
</div>



<div id="us" class="we">
    <div  class="ag-courses_box">
<div class="card-container">
    <a href="" class="hero-image-container">
      <img class="hero-image" src="/images/mjg.jpeg" alt="Spinning glass cube"/>
    </a>
    <main class="main-content">
      <h1><a >Rahul M Javkar</a></h1>
      <p>Front end</p>
      
    </main>
</div>
<div class="card-container">
    <a  class="hero-image-container">
      <img class="hero-image" src="/images/maccha.jpeg" alt="Spinning glass cube"/>
    </a>
    <main class="main-content">
      <h1><a >Mithun Gowda H</a></h1>
      <p>Database</p>
      
    </main>
</div>
<div class="card-container">
    <a href="" class="hero-image-container">
      <img class="hero-image" src="/images/shetty.jpeg" alt="Spinning glass cube"/>
    </a>
    <main class="main-content">
      <h1><a >Rahul Shetty S J</a></h1>
      <p>Backend end</p>
      
    </main>
</div>
<div  style="margin-bottom: 200px;"class="card-container">
<a href="" class="hero-image-container">
  <img class="hero-image" src="/images/ky.jpeg"  alt="Spinning glass cube"/>
</a>
<main class="main-content">
  <h1><a >Karthik U Gowda</a></h1>
  <p>Dev-ops</p>
  
</main>
</div>
</div>
</div>


  <!-- Scripts
   Bootstrap core JavaScript -->
  <script src="/jquery/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>

  <script src="/javascripts/isotope.min.js"></script>
  <script src="/javascripts/owl-carousel.js"></script>
  <script src="/javascripts/lightbox.js"></script>
  <script src="/javascripts/tabs.js"></script>
  <script src="/javascripts/video.js"></script>
  <script src="/javascripts/slick-slider.js"></script>
  <script src="/javascripts/custom.js"></script> 
<script>
  // //according to loftblog tut
  // $('.nav li:first').addClass('active');

  // var showSection = function showSection(section, isAnimate) {
  //   var
  //   direction = section.replace(/#/, ''),
  //   reqSection = $('.section').filter('[data-section="' + direction + '"]'),
  //   reqSectionPos = reqSection.offset().top - 0;

  //   if (isAnimate) {
  //     $('body, html').animate({
  //       scrollTop: reqSectionPos },
  //     800);
  //   } else {
  //     $('body, html').scrollTop(reqSectionPos);
  //   }

  // };

  // var checkSection = function checkSection() {
  //   $('.section').each(function () {
  //     var
  //     $this = $(this),
  //     topEdge = $this.offset().top - 80,
  //     bottomEdge = topEdge + $this.height(),
  //     wScroll = $(window).scrollTop();
  //     if (topEdge < wScroll && bottomEdge > wScroll) {
  //       var
  //       currentId = $this.data('section'),
  //       reqLink = $('a').filter('[href*=\\#' + currentId + ']');
  //       reqLink.closest('li').addClass('active').
  //       siblings().removeClass('active');
  //     }
  //   });
  // };

  // $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
  //   e.preventDefault();
  //   showSection($(this).attr('href'), true);
  // });

  // $(window).scroll(function () {
  //   checkSection();
  // });



    function preventBack(){
        window.history.forward();
    }
    setTimeout("preventBack()",0);

    window.onunload=function(){null};
   
  
</script>
  </body>

  
</html>